#DirectorySettings_uploaderList {
  max-height: 10em;
  overflow: auto;

  li {
    display: flex;

    >p {
      flex-grow: 1;
    }
  }
}

.DirectorySettings_alignCenter {
  align-items: center;
}

#DirectorySettings_btnSaveContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#DirectorySettings_formContainer {
  @extend .panel-block;
  flex-direction: column;
  align-items: flex-start;
}
