#TopBar_root {
  width: 100%;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  border-bottom: 1px solid lightgray;
  background-color: $info;
}

#TopBar_space {
  flex-grow: 1;
}
