#UserControl_root {
  @extend .dropdown;
  @extend .is-right;
  flex-grow: 0;
  margin-right: 2rem;
}

#UserControl_icon {
  @extend .icon;
}

#UserControl_menu {
  @extend .dropdown-menu;
  max-width: none;
  min-width: 0;
  width: auto;
}

#UserControl_logout {
  @extend .button;
  @extend .is-primary;
}

#UserControl_name {
  @extend .dropdown-item;
  white-space: nowrap;
}